<h1 mat-dialog-title>Parameter Values</h1>
<div mat-dialog-content>
    <ng-katex equation="\dfrac{\partial \mathbf{v}}{\partial t} = \beta\triangle \mathbf{v} - (\mathbf{v} \cdot \nabla)\mathbf{v} - \dfrac{1}{p_0}\nabla p"></ng-katex><br/>
    <ng-katex equation="\dfrac{\partial T}{\partial t} = \alpha\triangle T - (\mathbf{v} \cdot \nabla)T"></ng-katex><br/>
    <ng-katex equation="h(T_{top} - T_A) = k\dfrac{\partial T_{top}}{\partial y}"></ng-katex>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>
